:root {
  --primary-text-color: #757575;
  --color-title: #212121;
  --basic-white-color: #ffffff;
  --color-accent: #2196f3;
  --color-black: #000000;
  --hero-footer-bgc: #2f303a;
  --contacts-footer-colors: #ffffff99;
  --secondary-bgc: #f5f4fa;
  --button-activ-color: #188ce8;
  --hero-bgc: #c4c4c4;
  --hero-gradient: #2f303a66;
  --client-link-color: #afb1b8;
  --indent: 30px;
  --anim-time: 250ms;
  --anim-ft: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile-breakpoint: 480px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1200px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: var(--mobile-breakpoint);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: var(--tablet-breakpoint);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: var(--desktop-breakpoint);
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--basic-white-color);
  background-color: var(--color-accent);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.button:hover, .button:focus {
  background-color: var(--button-activ-color);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--basic-white-color);
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.header__contacts:hover, .header__contacts:focus {
  color: var(--color-accent);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

.header__icon-contacts {
  fill: currentColor;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__group {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 19px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-accent);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo__part--dark {
  color: var(--color-black);
}

.logo__part--light {
  color: var(--basic-white-color);
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.nav-list__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--color-title);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

.nav-list__link--current {
  color: var(--color-accent);
}

.nav-list__link--current::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.hero {
  max-width: 480px;
  height: 400px;
  padding: 118px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--hero-bgc);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/hero-bgi/img_s@1x.jpg);
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/hero-bgi/img_s@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/hero-bgi/img_s@2x.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/hero-bgi/img_s@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/hero-bgi/img_m@1x.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/hero-bgi/img_m@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/hero-bgi/img_m@2x.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/hero-bgi/img_m@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/hero-bgi/img_l@1x.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/hero-bgi/img_l@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/hero-bgi/img_l@2x.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/hero-bgi/img_l@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
  }
}

.hero__heading {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-white-color);
}
@media screen and (min-width: 1200px) {
  .hero__heading {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__button {
  width: 216px;
  margin: 0 auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--not-padding {
  padding-top: 0;
  padding-bottom: 94px;
}

.section--dark {
  background-color: var(--secondary-bgc);
}

.section__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  --items: 1;
}
@media screen and (min-width: 768px) {
  .feature-list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    --items: 4;
  }
}

.feature-list__item {
  -ms-flex-preferred-size: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
      flex-basis: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
}

.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-title);
}
@media screen and (min-width: 768px) {
  .feature-list__title {
    text-align: left;
  }
}

.feature-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondary-bgc);
  border-radius: 4px;
}

.feature-list__content {
  padding-top: 30px;
}

.feature-list__text {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  --items: 3;
}

.work-list__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
      flex-basis: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
}

.work-list__overlay {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-white-color);
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.team-card__job-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card__caption {
  padding: 30px 0 24px;
  text-align: center;
  background-color: var(--basic-white-color);
}
@media screen and (min-width: 1200px) {
  .team-card__caption {
    padding: 30px 0;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team-list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    --items: 4;
  }
}

.team-list__item {
  -ms-flex-preferred-size: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
      flex-basis: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  background-color: var(--basic-white-color);
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.socials__link:hover, .socials__link:focus {
  color: var(--basic-white-color);
  background-color: #2196f3;
}

.socials__link--dark {
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.socials__icon {
  fill: currentColor;
}

.socials__icon--white {
  fill: var(--basic-white-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  --items: 2;
}
@media screen and (min-width: 768px) {
  .clients-list {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    --items: 6;
  }
}

.clients-list__item {
  -ms-flex-preferred-size: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
      flex-basis: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
  height: 92px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--client-link-color);
  border: 1px solid var(--client-link-color);
  border-radius: 4px;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--hero-footer-bgc);
}
@media screen and (min-width: 1200px) {
  .footer {
    line-height: 1.5;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 28px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 20px;
    text-align: left;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white-color);
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 165px;
  }
}

.footer__address {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    width: 231px;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer__socials {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.footer__subscription {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.address__link {
  line-height: 1.1428571429;
  font-style: normal;
  color: var(--contacts-footer-colors);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.address__link:hover, .address__link:focus {
  color: var(--color-accent);
}

.address__item {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link--white {
  color: var(--basic-white-color);
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
}

.subscription__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 0 0 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1490196078));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1490196078));
  outline: 1px solid transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.subscription__field:focus {
  border: 1px solid var(--color-accent);
}
@media screen and (min-width: 768px) {
  .subscription__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__field {
    width: 358px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .subscription__field {
    margin-right: auto;
    margin-left: auto;
  }
}

.subscription__field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__field::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__field::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  gap: 10px;
}
@media screen and (max-width: 1199px) {
  .subscription__button {
    margin: 0 auto;
  }
}

.subscription__icon {
  fill: var(--basic-white-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .filter > li:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .filter > li:last-child {
    margin-top: -15px;
  }
}

.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  padding: 0 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--color-title);
  background-color: var(--secondary-bgc);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.filter__button:hover, .filter__button:focus {
  color: var(--basic-white-color);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1019607843), 0px 1px 2px rgba(0, 0, 0, 0.0784313725), 0px 2px 2px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1019607843), 0px 1px 2px rgba(0, 0, 0, 0.0784313725), 0px 2px 2px rgba(0, 0, 0, 0.1215686275);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  --items: 1;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    --items: 3;
  }
}

.portfolio-list__item {
  -ms-flex-preferred-size: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
      flex-basis: calc((100% - (var(--items) - 1) * var(--indent)) / var(--items));
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.portfolio-list__item:hover, .portfolio-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
}

.portfolio-list__item:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.project__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 20px 24px 19px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9019607843);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.project__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--basic-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
  width: 450px;
  height: 609px;
  padding: 40px;
  background: var(--basic-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, 75%) scale(0.2);
          transform: translate(-50%, 75%) scale(0.2);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  color: rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  background: var(--basic-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.modal__btn:hover {
  fill: var(--color-accent);
}

.modal__btn {
  fill: #000000;
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.modal-form__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.modal-form__field:focus {
  border: 1px solid var(--color-accent);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--color-title);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}

.modal-form__field:focus + .modal-form__icon {
  fill: var(--color-accent);
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.modal-form__comment:focus {
  border: 1px solid var(--color-accent);
}

.modal-form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.modal-form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.modal-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.modal-form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.modal-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.modal-form__text {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .modal-form__text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition-property: border, background-color, background-size;
  transition-property: border, background-color, background-size;
  -webkit-transition-duration: var(--anim-time);
          transition-duration: var(--anim-time);
  -webkit-transition-timing-function: var(--anim-ft);
          transition-timing-function: var(--anim-ft);
}
.modal-form__checkbox:checked {
  border: transparent;
  background-color: var(--color-accent);
  background-size: 11px 8px;
}

.modal-form__link {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--color-accent);
  text-underline-offset: 4px;
}

.modal-form__button {
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: #212121;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--color-accent);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--basic-white-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-title);
  text-decoration: none;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-container {
  margin-bottom: 64px;
}

.mobile-contact-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu-link--currunt {
  color: var(--color-accent);
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-link--blu {
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--color-accent);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mobile-socials-item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.mobile-socials-item:not(:last-child)::after {
  position: absolute;
  top: 0;
  right: 10p;
  content: "";
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: translateY(10px) rotate(90deg);
          transform: translateY(10px) rotate(90deg);
}/*# sourceMappingURL=main.css.map */