.address__link {
  line-height: calc(16 / 14);
  font-style: normal;

  color: var(--contacts-footer-colors);

  transition-property: color;
  transition-duration: var(--anim-time);
  transition-timing-function: var(--anim-ft);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.address__item {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link--white {
  color: var(--basic-white-color);
}
