.clients-list {
  @include grid;

  // justify-content: center;
  // align-items: center;

  --items: 2;

  @media screen and (min-width: 768px) {
    --items: 3;
  }

  @media screen and (min-width: 1200px) {
    --items: 6;
  }
}
.clients-list__item {
  @include items-grid;

  height: 92px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--client-link-color);

  border: 1px solid var(--client-link-color);
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: var(--anim-time);
  transition-timing-function: var(--anim-ft);

  &:hover,
  &:focus {
    color: var(--color-accent);

    border: 1px solid var(--color-accent);
  }
}

.clients-list__icon {
  fill: currentColor;
}
