.feature-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--indent);

  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 768px) {
    --items: 4;
  }
}

.feature-list__item {
  flex-basis: calc((100% - (var(--items) - 1) * var(--indent))) / var(--items);

  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: center;

  text-transform: uppercase;

  color: var(--color-title);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.feature-list__image {
  display: flex;

  height: 120px;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-bgc);

  border-radius: 4px;
}

.feature-list__content {
  padding-top: 30px;
}

.feature-list__text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
