.feature-list {
  display: flex;
}

.feature-list__item:not(:last-child) {
  margin-right: 30px;
}

.feature-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-title);
}

.feature-list__image {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--secondary-bgc);

  border-radius: 4px;
}

.feature-list__text {
  width: 270px;

  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
