.section {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.section--not-padding {
  @include section(0, 94px);
}

.section--dark {
  background-color: var(--secondary-bgc);
}

.section__title {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
