.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-list {
  @include grid;

  --items: 3;
}

.work-list__item {
  position: relative;

  @include items-grid;
}

.work-list__overlay {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background: #2f303acc;
}

.work-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-white-color);
}
