:root {
  --primary-text-color: #757575;
  --color-title: #212121;
  --basic-white-color: #ffffff;
  --color-accent: #2196f3;
  --color-black: #000000;
  --hero-footer-bgc: #2f303a;
  --contacts-footer-colors: #ffffff99;
  --secondary-bgc: #f5f4fa;
  --button-activ-color: #188ce8;
  --hero-bgc: #c4c4c4;
  --hero-gradient: #2f303a66;
  --client-link-color: #afb1b8;

  --indent: 30px;

  --anim-time: 250ms;
  --anim-ft: cubic-bezier(0.4, 0, 0.2, 1);
}
